@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-arboria: 'arboriabook', sans-serif;
  --font-europa: 'europalight', sans-serif;
  --font-objektiv: 'objektivmk1', sans-serif;
}

h1 {
  @apply text-7xl md:text-8xl lg:text-9xl;
  font-family: var(--font-arboria), sans-serif;
}

h2 {
  @apply text-6xl lg:text-7xl;
  font-family: var(--font-arboria), sans-serif;
}

h3 {
  @apply text-3xl;
  font-family: var(--font-arboria), sans-serif;
}

h4 {
  @apply text-xl;
  font-family: var(--font-europa), sans-serif;
}

p {
  @apply text-base lg:text-lg font-bold;
  font-family: var(--font-objektiv), sans-serif;
}

h5,
li {
  @apply text-base font-bold;
  font-family: var(--font-objektiv), sans-serif;
}
